---
layout: default
---

<div class="article-list">
	{{ content }}
</div>

<aside class="aside">
	<div>
		<h3>About Me</h3>
		<ul>
			<li>Don Liu </li>
			<li>书生 爱国者 一个好人 Haiku OS</li>
			<li>Email: donliucn@gmail.com</li>
		</ul>
	</div>
	<div>
		<h3>分类</h3>
		<ul>
			{% for category in site.categories %}
			<li><a href="/category.html#{{category[0]}}">{{category[0]}} ({{category[1] | size}})</a></li>
			{% endfor %}
		</ul>
	</div>
	<div>
		<h3>友情链接</h3>
		<ul>
			<li><a href="http://haiku-cn.github.io/" target="_blank">Haiku中文文档</a></li>
		</ul>
	</div>
</aside>
